<div ng-controller="aboutsite as vm">

    <div class="row">

        <article class="col-xs-12 col-lg-10 col-lg-offset-1 infoarticle">
            <section>
                <h1>About the Site</h1>
                <p>
                    On this site I've showcased some of the projects I've worked on outside of the office.
                </p>
            </section>
            <section class="row">
                <h2 style="text-align:center;">Choice of technology</h2>
                <div class="col-xs-12 col-sm-4" style="text-align:center;">
                	<img class="aboutSiteImage" src="app/img/ThisSite/AngularJS.png" alt="AngularJS logo"/>
                <p>
                    This site is set up using my favourite client side JavaScript framework, <a href="https://angularjs.org/">AngularJS</a>.
                </p>
                </div>
                
                <div class="col-xs-12 col-sm-4" style="text-align:center;">
                	<img class="aboutSiteImage" src="app/img/ThisSite/bootstrap.png" alt="Bootstrap logo"/>
                <p>
                    I've used <a href="http://getbootstrap.com/">bootstrap 3</a> so I could quickly set up a good looking and responsive site.
                </p>
                </div>
                
                <div class="col-xs-12 col-sm-4" style="text-align:center;">
                	<img class="aboutSiteImage" src="app/img/ThisSite/hs_site_logo.gif" alt="Highslide logo"/>
                <p>
                    Finally, I've used <a href="http://highslide.com/">Highslide</a> to provide image thumbnails and popup images.
                </p>
                </div>
            </section>
        </article>
    </div>

</div>