<div ng-controller="aboutme as vm">

    <div class="row">

        <article class="col-xs-12 col-lg-10 col-lg-offset-1 infoarticle">
            <section>
                <h1>About Me</h1>
                <p>
                    I am a Software Developer currently living and working in South London.
                </p>
            </section>
            <section>
                <h2>Technology I work with</h2>
                <p>
                    In my day job I mostly work with .Net technologies, SharePoint and Client Side Web technologies.
                </p>
                <p>
                    Outside of work I enjoy developing apps for Android, responsive websites (especially those using AngularJS, bootstrap) and Java Applications.
                </p>
            </section>
            <section>
                <h2>
                    Other Hobbies
                </h2>
                <p>
                    Snowboards, Skateboards and Bikes.
                </p>
            </section>

        </article>

    </div>

</div>