<div ng-controller="librarians as vm">

    <div class="row">
        <article class="col-xs-12 col-lg-10 col-lg-offset-1 infoarticle">
        	
        	
        		<section class="row" style="padding-bottom:20px;">
                	<h1>The Librarians' EP</h1>
						<div class="col-xs-12 col-sm-6 linksLogoColumn">
							<a href="https://play.google.com/store/apps/details?id=chris.librariansep">
								<img class="googlePlayImage" src="app/img/ThisSite/Google_Play_Store.svg" alt="Google Play Store Logo">
								<p>
									Download from the play store.
								</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 linksLogoColumn">
							<a href="https://github.com/chrisberry4545/LibrariansEP">
								<img class="githubImage" src="app/img/ThisSite/github.png" alt="Github Logo">
								<p>
									View the source on GitHub
								</p>
							</a>
						</div>
        		</section>

            <section class="row"  style="padding-top:20px; padding-bottom:20px;">
                <p>
                    My friends band wanted to release their latest E.P as an app. I was keen to try some Android
                    development so I was happy to have a go.
                </p>
            </section>

			<div class="row pageImage topBorderDivider">
				<img src="app/img/Librarians/logo.png"/ alt="Librarians EP Logo">
			</div>
			
			<div class="row">
	            <section class="col-xs-12 col-md-4">
	                <h2>What does it do?</h2>
	                <p>
	                    The app presents a simple carousel interface for playing a tracks. The carousel works nicely and fits with the themes 
	                    covered by the band.
	                </p>
	                <p>
	                    There other tabs contain a short biography and links to the band's social media.
	                </p>
	            </section>
	
	            <section class="col-xs-12 col-md-4">
	                <h2>Choice of technology</h2>
	                <p>
	                    Most of the this was built with the native android technologies.
	                </p>
	                <p>
	                    I was able to find an excellent carousel by Igor Kushnarev on <a href="http://www.codeproject.com/Articles/146145/Android-D-Carousel">code project</a> which looks great in the app.
	                </p>
	                <p>
	                    I had to make use of Android's Media Players and Services so the music continued even when the app closed. 
	                    While implementing this I developed a good understanding of Android Activity lifecycle which has been very useful.
	                </p>
	            </section>
	
	            <section class="col-xs-12 col-md-4">
	                <h2>Challenges faced</h2>
	                <p>
	                    The biggest challenge was keeping the music playing even when the App had closed. This required a significant amount of testing but luckily the band could help me out with this.
	                    I was able to get the music player set up correctly with a fixed notification showing when the app was playing. This could of been improved further by adding
	                    media controls from the notifications screen but due to the time constraints (I needed to finish before the band went live with their EP) I didn't get the opportunity.
	                </p>
	            </section>
			</div>
			

            <section>
                <div ng-repeat="set in vm.picturesSets" class="row picturesrow">
                    <h3>{{set.title}}</h3>
                    <div ng-repeat="image in set.pictures">
                        <a href="{{image.src}}" class="highslide" onclick="return hs.expand(this)">
                            <img src="{{image.src}}" alt="Highslide JS"
                                 title="{{image.alt}}"/>
                        </a>
                    </div>
                </div>
            </section>

        </article>
    </div>

</div>